# the region which that validation tool runs within
AWS_REGION=
# the aws credentials for the user which run the validation tool
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# the s3 bucket that contains json files describing the infrastructure
# so we can perform validation. The name of the bucket no the bucket address
PAYLOADS_BUCKET='cpbvt-payloads'
OUTPUT_PATH='/workspace/cloud-project-bootcamp-validation-tool/output'

USER_UUID='da124fec-133b-45c5-8423-04b768c886c2'
USER_AWS_REGION='ca-central-a'